@model Artist

@{
    ViewData["Title"] = "Atist Page";
}
<div class="d-flex justify-content-between align-items-center">
<h1>@Model.Name</h1>
<a asp-controller="Artist" asp-action="Edit" asp-route-id="@Model.ArtistId" class="btn btn-m btn-outline-info">Edit Artist</a>
<a asp-controller="Album" asp-action="Create" asp-route-id="@Model.ArtistId" class="btn btn-m btn-outline-primary">Add Album</a>
</div>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Albums!)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p class="card-text">@item.Title</p>
                            <p class="card-text">@item.Price</p>
                            @* <p class="card-text">@item.Genre.Name</p> *@

                            <div class="d-flex justify-content-between">
                                <div class="btn-group">
                                    <a asp-controller="Album" asp-action="Detail" asp-route-id="@item.AlbumId" class="btn btn-sm btn-outline-primary ">View</a>
                                    <a asp-controller="Album" asp-action="Delete" asp-route-id="@item.AlbumId" class="btn btn-sm btn-outline-danger ">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
